html, body {
	width:100%;
}
body {
	background-image: url(../../assets/img/triangle-watermark.png);
	background-repeat: no-repeat;
	background-position: 0 -221px;
	background-size: 594px;
}
.no-background {
	background: none;
}
.main__wrapper {
	width:100%;
	position: relative;
  padding-top: 84px;
	margin:0 auto;
	margin-top: calc-rem(73px);
	max-width: 755px;
	direction:rtl;
	padding-left: 153px;
	@include breakpoint(tablet){
		padding-left:5%;
		padding-right:5%;
		margin-top: calc-rem(33px);
		padding-bottom: 1.5rem;
	}
}
