.page-wrapper {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	background-image: url(../../assets/img/triangle-watermark.png);
	background-repeat: no-repeat;
	background-position: 0% 180%;
	padding: 9% 0% 0%;
	background-size: 45%;
	@include breakpoint(mobile){
		margin:0;
		padding:0;
	}
}
.container {
	width:100%;
	overflow:hidden;
}
.container__left, .container__right {
	width:50%;
	float:left;
	text-align: center;
	@include breakpoint(mobile){
		width: 100% !important;
	}
}
.container__left {
	padding-top: 9%;
	width: 30%;
	margin-left: 20%;
	@include breakpoint(mobile){
		width: 100%;
		padding:5%;
		margin:0;
	}
}
.container__right {
	@include breakpoint(mobile){
		padding-top: 20px;
	}
}
.phone1__wrap, .phone2__wrap {
	float:left;
	width:50%;
	img {
		width: 100%;
		float: left;
	}
}
.phone1__wrap {
	z-index:20;
	@include breakpoint(mobile){
		position:relative;
		left:13%;
	}
}
.phone2__wrap {
	padding-top: 2%;
	left: -23%;
	position: relative;
	z-index:-5;
	@include breakpoint(mobile){
		position:relative;
		left:-11%;
	}
}
.logo {
	width: 28%;
	margin-bottom: 20px;
	width: 53%;
}
.info-heading {
	margin-bottom: 30px;
	font-size:16px;
	color:$text__color--alpha;
}
.about__text {
	margin-top: 30px;
	line-height: 32px;
	font-size: 14px;
	color:$text__color--alpha;
	margin-top: 50px;
}
p {
    font-family: $text__family--DroidKufiRegular;
}
.about__text--desk {
	@include breakpoint(mobile){
		display: none;
	}
}
.about__text--mobile {
	display:none;
	@include breakpoint(mobile){
		display: block;
		float: left;
		margin-top: 10px;
		font-size: 13px;
		padding: 0 4%;
		margin-bottom: 20px;
	}
}