.lightbox__container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  display: none;
  opacity: 0;
}
.lightbox__mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.87);
  z-index: 19;
}
.lightbox {
  width: 970px;
  height: 539px;
  background: white;
  position: relative;
  z-index: 20;
  top: 50%;
  margin:0 auto;
  margin-top:-270px;
  @include breakpoint(mobile){
    width:calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    margin:0;
  }
}
.lightbox__close {
  position: absolute;
  height: 63px;
  width: 57px;
  background-image: url('../../assets/img/close-icon-black.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  cursor: pointer;
  @include breakpoint(mobile){
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-image: url('../../assets/img/close-icon-white.png');
  }
}
.lightbox__image-container {
  float: right;
  width: 50%;
  overflow: hidden;
  height: 100%;
  position: relative;
  &.mobile {
    display: none;
  }
  .lightbox__image {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    opacity: 0;
  }
  .lightbox__image.first {
    opacity: 1;
  }
  @include breakpoint(mobile){
    display:none;
    float: left;
    height: 37%;
    width: 100%;
    .lightbox__image {
      width: 100%;
    }
    &.mobile {
      display: block;;
    }
  }
  @include breakpoint(iphone6){
    height:40%;
  }
}
.lightbox__content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  @include breakpoint(mobile){
    width:100%;
    height: 63%;
  }
  @include breakpoint(iphone6){
    height:60%;
  }
}
.lightbox__heading {
  font-size: calc-rem(30px);
  font-family: $text__family--DroidKufiRegular;
  color: #333;
  margin-top: 60px;
  font-weight: 100;
  margin-bottom: 29px;
  @include breakpoint(mobile){
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 10px;
  }
  @include breakpoint(iphone6){
    margin-top:28px;
  }
}
.lightbox__description {
  font-size: calc-rem(16px);
  font-family: $text__family--DroidKufiRegular;
  color: #ccc;
  width: 74%;
  line-height: calc-rem(26px);
  margin:0 auto;
  margin-bottom: 56px;
  max-height: 52px;
  @include breakpoint(mobile) {
    font-size: 12px;
    width: 90%;
    margin-bottom: 30px;
  }
  @include breakpoint(iphone4){
    display: none;
  }
}
.lightbox__logo {
  text-align: center;
  margin-top: 76px;
  @include breakpoint(mobile){
    margin-top: 17px;
    img {
      width: 110px;
    }
  }
}
.lightbox__form {
  width: 408px;
  overflow: hidden;
  margin: 0 auto;
  direction: rtl;
  @include breakpoint(mobile){
    width: 100%;
    padding:0 20px 20px;
  }
  @include breakpoint(iphone6){
    padding-bottom: 40px;
  }
}
.lightbox__email {
  width: 288px;
  height: 46px;
  outline: none;
  float: right;
  border: 1px solid #999;
  color:#4a4a4a;
  font-size: calc-rem(17px);
  font-family: $text__family--Roboto;
  padding: 0 18px;
  &.placeholder {
    font-size: calc-rem(17px);
    font-family: $text__family--Roboto;
    color:#999;
  }
  @include borderRadius(0px);
  @include breakpoint(mobile){
    width: 100%;
    height: 40px;
    margin:0 auto;
    margin-bottom: 10px;
  }
}
.lightbox__button {
  width: 120px;
  height: 46px;
  line-height: 46px;
  float: left;
  color: white;
  font-size: 17px;
  background: #333;
  @include borderRadius(0px);
  border: none;
  font-family: $text__family--Roboto;
  @include breakpoint(mobile){
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
  }
}
.lightbox__footer {
  width: 100%;
  margin-top: 55px;
  p {
    font-family: $text__family--Roboto;
    color:#999;
    font-size: calc-rem(15px);
    margin-bottom: 28px;
  }
  @include breakpoint(mobile){
    display:none;
  }
}
