.list {
	padding-right:50px;
	position: relative;
	z-index: -5;
  font-family: $text__family--Roboto;
  @include breakpoint(mobile){
	  padding-right:34px;
	}
}
.ordered.list {
	counter-reset: item;
	list-style-type: none;
	margin-bottom: calc-rem(140px);
}

.list__item {
	@extend .main__text;
	position:relative;
	font-family:$text__family--DroidKufiRegular;
}
.list__item:before {
	content:"";
	display:block;
	height:6px;
	width:6px;
	@include borderRadius(50px);
	background: $text__color--gamma;
	position:absolute;
	top: 7px;
	right: -47px;
  @include breakpoint(mobile){
    right:-29px;
  }
}
.ordered .list__item:before {
	content: counter(item) "  ";
	counter-increment: item;
	background: transparent;
	font-size: calc-rem(24px);
	color:$text__color--gamma;
	top:0;
}
