.dp-body {
  background:#fff;
  @include breakpoint(mobile){
    overflow: scroll !important;
  }
}
.dp-header {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 8%;
  z-index: 99;
  @include breakpoint(mobile){
    top: 0px;
    margin-top:20px;
    height: auto;
    position: relative;
    text-align: center;
  }
  @include breakpoint(iphone4) {
    top: 10px;
  }
}
.dp-header__wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 220px;
  height: 100%;
  margin: 0 auto;
  @include breakpoint(mobile) {
    padding: 0;
  }
}
.dp-header__logo {
  float: right;
  width: 200px;
  margin-top:-120px;
  @include breakpoint(mobile) {
    display: none;
  }
}
.dp-header__logo--mobile {
  @extend .dp-header__logo;
  display:none;
  @include breakpoint(mobile) {
    margin:0 auto;
    display:block;
    float:none;
    width: 40%;
  }
}
.mask {
  position: fixed;
  bottom: 0;
  width:auto;
  z-index: 10;
  opacity: 0.7;
  img{
    float: left;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
.scroll-container {
  height:100%;
  position: relative;
  @include breakpoint(mobile){
    display: none;
  }
}
.scroll__section {
  height:6000px !important;
}
.scroll__section--one {
  background:  #f7f7f7;
  background: linear-gradient(to bottom, #f7f7f7 22%, #31abaa 100%)
}
.scroll__section--two {
  background:  #31abaa;
  background: linear-gradient(to bottom, #31abaa 0,#EBEAE5 100%);

}
.scroll__section--three {
  background:  #fff;
  background: linear-gradient(to bottom, #EBEAE5 0, #FAFAFB 100%);

}
.scroll__section--four {
  background:  #fff;
  background: linear-gradient(to bottom, #FAFAFB 0, #E7E7E9 100%);

}
.scroll__section--five {
  background:  #fff;
  background: linear-gradient(to bottom,#E7E7E9 0,#fff 100%);
}
.top-elements__container {
  height: 900px;
  position: relative;
}
.top-element {
  position: absolute;
}
.warrini-triangle {
  height: 101%;
  left: 3%;
  top: -24%;
  opacity: 0;
}
.nike-shoes {
  width: 33%;
  right: -186px;
}
.bag {
  bottom: -8%;
  right: -13%;
  width: 32%;
}
.joe-page {
  bottom:-30px;
  height:95%;
  position: fixed;
  opacity: 0;
  z-index: 9;
  @include breakpoint(mobile){
    display: none;
  }
}
.joe-typo {
  height: 66%;
  left: 24%;
  top: 27%;
}
.joe-accesories {
  right: 0;
  height: 118%;
}
.watch {
  bottom: 31%;
  right: 3%;
  width: 10%;
}
.mother {
  height: 100%;
  left:0;
  position: absolute;
}
.mother-background {
  height: 100%;
  left:0;
  opacity: 0.3;
}
.atyab-left {
  left: -11%;
  height: 100%;
}
.atyab-right {
  right:0;
  height: 100%;
}
.yasmina-shoes {
  height: 57%;
  top: 19%;
}
.yasmina-make-up {
  height: 106%;
  top: -14%;
  right:0;
}
.yasmina-logo-wrapper {
  position: absolute;
  height: 20%;
  bottom: 18%;
  width: 100%;
  text-align: center;
}
.yasmina-logo-big {
  height: 100%;
  position:static;
}
.download-button--mobile {
  width: 200px;
  display: none;
  @include breakpoint(mobile){
    display: inline;
  }
}
.fixed-content {
  height: 100%;
  position: fixed;
  width:100%;
  display: table;
  z-index: 10;
  @include breakpoint(mobile){
    display: block;
    position: relative;
    height: auto;
  }
}
.content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  @include breakpoint(mobile){
    display: block;
  }
}
.content-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  @include breakpoint(mobile) {
    max-width: 100%;
    width: 100%;
  }
  @include breakpoint(large) {
    max-width: 930px;
  }
}
.device-container {
  float: right;
  position:relative;
  img {
    width: 320px;
  }
  @include breakpoint(mobile) {
    width: 95%;
    margin-right: 13%;
    margin-top: 25px;
    img {
      width: 101%;
    }
  }
  @include breakpoint(large) {
    img {
      width: 400px;
    }
  }
  @include breakpoint(iphone4) {
    margin-top:56px;
  }
}
.screen-container {
  position: absolute;
  width: 206px;
  height: 366px;
  top: 57px;
  left: 93px;
  overflow: hidden;
  video {
    width: 100%;
    position: absolute;
    top:100%;
    min-width: 100%;
    min-height: 100%;
  }
  &>video:nth-child(1){
    z-index: 1;
  }
  &>video:nth-child(2){
    z-index: 2;
  }
  &>video:nth-child(3){
    z-index: 3;
  }
  &>video:nth-child(4){
    z-index: 4;
  }
  @include breakpoint(mobile) {
    width: 65.2%;
    height: 67.05%;
    top: 10.6%;
    left: 29%;
    img {
      display: none;
      width: 100%;
    }
  }
  @include breakpoint(large) {
    width: 260px;
    height: 456.5px;
    top: 71.75px;
    left: 115.5px;
  }
}
.screen-container__video {
  @include breakpoint(mobile) {
    display: none;
    width: 100%;
  }
}
.screen-container__video {
  @include breakpoint(mobile) {
    display: none;
    width: 100%;
  }
}
.text-slide {
  float: left;
  text-align: right;
  direction: rtl;
  color:white;
  position: absolute;
  @include breakpoint(mobile){
    h2,p, .dp-buttons {
      display: none;
    }
  }
}
.text-slide--white {
  h2, p {
    color: white;
  }
}
.dp-buttons {
  margin-top: 58px;
  position: relative;
}
.dp-buttons--first {
  margin-top: 21px;
}
.dp-buttons img {
  height: 45px;
  margin:0 10px;
  float: right;
  @include breakpoint(large) {
    height:50px;
  }
}
.dp-buttons img:first-child {
  margin-right: 0;
}
.static-content__heading {
  font-size: calc-rem(28px);
  line-height: calc-rem(37px);
  margin-bottom: 26px;
  position: relative;
  color:#333;
  @include breakpoint(large) {
    font-size: calc-rem(30px);
    line-height: calc-rem(42px);
  }
}
.static-content__text {
  line-height: calc-rem(25px);
  font-size: calc-rem(15px);
  color:#333;
  position: relative;
  @include breakpoint(large) {
    font-size: calc-rem(16px);
    line-height: calc-rem(32px);
  }
}
.text-container {
  position: relative;
  margin: 0px 16px;
  float: right;
  width: 340px;
  margin-top: 217px;
  @include breakpoint(large) {
    width: 405px;
  }
  @include breakpoint(mobile) {
    display:none;
  }
}
.text-slide {
  &.active {
    opacity: 1;
    z-index: 100;
  }
  h2, p, .dp-buttons {
    opacity: 0;
    top:30px;
  }
}
.dp-channel__container {
  width: 100%;
  position: fixed;
  bottom: 50px;
  text-align: center;
  padding: 0 35px;
  right: 0;
  height: calc-rem(40px);
  line-height: calc-rem(40px);
  z-index: 100;
  @include breakpoint(large) {
    height: calc-rem(60px);
    line-height: calc-rem(60px);
    padding: 0 50px;
  }
  @include breakpoint(mobile) {
    text-align: center;
    bottom: 60px;
  }
  @include breakpoint(iphone4) {
    bottom: 20px;
  }
}
.dp-footer-arrow {
  position: absolute;
  height: 60%;
  margin-top: 9px;
  left: 49%;
  cursor:pointer;
    animation: bounce 2500ms  infinite forwards;
  -webkit-animation: bounce 2500ms  infinite forwards;
  -moz-animation: bounce 2500ms  infinite forwards;
  -o-animation: bounce 2500ms  infinite forwards;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
  @include breakpoint(large) {
    height: 52%;
    margin-top: 15px;
  }
  @include transitionFor(all 300ms);
  @include breakpoint(mobile) {
    display: none;
  }
  &:hover {
    opacity: 0.5;
  }
}
.dp-footer {
  position: fixed;
  bottom: 50px;
  width: 100%;
  height: 40px;
  line-height: calc-rem(40px);
  z-index: 101;
  @include breakpoint(large) {
    height: 60px;
    line-height: calc-rem(60px);
  }
  @include breakpoint(mobile) {
    text-align: center;
    bottom: 0px;
    position: relative;
    height: auto;
    line-height: normal;
  }
  @include breakpoint(iphone4) {
    display: none;
  }
}
.dp-footer-wrap {
  max-width: 1400px;
  margin:0 auto;
  padding:0 220px;
  color:white;
  font-size: calc-rem(14px);
  font-family: $text__family--Roboto;
  @include breakpoint(mobile) {
    color: rgba(255, 255, 255, 0.5);
    font-size: calc-rem(10px);
    padding: 0;
  }
}
.dp-footer__copyright {
  float: left;
  font-size:calc-rem(12px);
  @include breakpoint(large) {
    font-size:calc-rem(14px);
  }
  @include breakpoint(mobile) {
    width: 100%;
    text-align: center;
    font-size: calc-rem(12px);
    margin-top: -2px;
    margin-bottom: 25px;

    color: #bbb;
  }
}
.channel__wrapper {
  float:right;
  width: 300px;
  height: 40px;
  overflow: hidden;
  position: relative;
  @include breakpoint(large) {
    height: 60px;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
.channel {
  position: absolute;
  opacity: 0;
  right:0;
  &.active {
    opacity: 1;
    top:0;
  }
}
.channel__ico {
  float:right;
  height: 40px;
  @include breakpoint(large) {
    height: 60px;
  }
}
.channel__info {
  float: right;
  line-height: calc-rem(40px);
  padding-right: 20px;
  color: white;
  height: calc-rem(40px);
  font-size: calc-rem(13px);
  @include breakpoint(large) {
    font-size:calc-rem(15px);
    line-height: calc-rem(60px);
    height: calc-rem(60px);
  }
}
.dp-footer__link {
  float: right;
  text-decoration: none;
  margin: 0 20px;
  color:white;
  font-family: $text__family--Roboto;
  font-size:calc-rem(12px);
  @include breakpoint(large) {
    font-size:calc-rem(14px);
  }
  @include transitionFor(all 300ms);
  @include breakpoint(mobile) {
    display: none;
  }
  &:hover {
    opacity: 0.5;
  }
}
.dp-footer__link--last {
  margin-right: 0;
}
.sub-title--mobile {
  display: none;
  @include breakpoint(mobile){
    text-align: center;
    line-height: calc-rem(30px);
    width: 80%;
    margin: 0 auto;
    color: #333;
    margin-top: 30px;
    font-size: calc-rem(17px);
    display: block;
  }
}
.download-button__wrapper {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  img {
    height: 41px;
    width: auto;
    margin: 0 2px;
  }
  @include breakpoint(mobile) {
    display:block;
    margin: 0px;
    margin-bottom: 14px;
    margin-top: 34px;
  }
}
.screen-container__video--mobile{
  display: block;
}
.download-link {
  display: inline-block;
}
@include bounce;
.dp-link__container {
  position: relative;
  margin-top: 28px;
  overflow: hidden;
  padding: 25px 0;
  opacity: 0;
  top: 30px;
  border-top: 1px solid #ccc;
}
.dp-link__container--mobile {
  display: none;
  @include breakpoint(mobile) {
    display: block;
    width: 90%;
    margin:0 auto;
    opacity: 1;
    text-align: center;
    margin-top: 34px;
    position: static;
    opacity: 1 !important;
  }
  .dp-link__image {
    position: relative;
    top: 7px;
  }
}
.dp-link {
  text-decoration:none;
  color:#333;
}
.dp-link__text, .dp-link__image {
  float: right;
  @include breakpoint(mobile) {
    display: inline;
    float: none;
  }

}
.dp-link__image {
  margin-left: 20px;
}
.dp-link__text {
  @include breakpoint(mobile){
    font-size: calc-rem(12px);
  }
}
#fp-nav ul li a.active span {
  background: #FC2641 !important;
}
