.dp-body {
  background:#31abaa;
}
.dp-header {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 119px;
  z-index: 99;
  @include breakpoint(mobile){
    top: 20px;
    text-align: center;
  }
  @include breakpoint(iphone4) {
    top: 10px;
  }
}
.dp-header__wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 200px;
  height: 100%;
  margin: 0 auto;
  @include breakpoint(mobile) {
    padding: 0;
  }
}
.dp-header__logo {
  float: right;
  width: 98px;
  @include breakpoint(large){
    width: 150px;
  }
  @include breakpoint(mobile) {
    float:none;
    width: 90px;
  }
}
.mask {
  position: fixed;
  bottom: 0;
  width:auto;
  z-index: 99;
  opacity: 0.7;
  img{
    float: left;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
.scroll-container {
  height:100%;
  position: relative;
  @include breakpoint(mobile){
    display: none;
  }
}
.scroll__section {
  height:6000px !important;
}
.scroll__section--one {
  background:  #31abaa;
  background: linear-gradient(to bottom, #31abaa 0,#FDFDFD 100%);
}
.scroll__section--two {
  background:  #fff;
  background: linear-gradient(to bottom, #FDFDFD 0, #FAFAFB 100%);
}
.scroll__section--three {
  background:  #fff;
  background: linear-gradient(to bottom, #FAFAFB 0, #E7E7E9 100%);
}
.scroll__section--four {
  background:  #fff;
  background: linear-gradient(to bottom,#E7E7E9 0,#fff 100%);
}
.top-elements__container {
  height: 900px;
  position: relative;
}
.top-element {
  position: absolute;
}
.nike-shoes {
  width: 33%;
  right: -186px;
}
.bag {
  bottom: -8%;
  right: -13%;
  width: 32%;
}
.joe-page {
  bottom:-30px;
  height:95%;
  position: fixed;
  opacity: 1;
  z-index: 9;
  @include breakpoint(mobile){
    display: none;
  }
}
.joe-typo {
  height: 66%;
  left: 24%;
  top: 27%;
}
.joe-accesories {
  right: 0;
  height: 118%;
}
.watch {
  bottom: 31%;
  right: 3%;
  width: 10%;
}
.mother {
  height: 100%;
  left:0;
  position: absolute;
}
.mother-background {
  height: 100%;
  left:0;
  opacity: 0.3;
}
.atyab-left {
  left: -11%;
  height: 100%;
}
.atyab-right {
  right:0;
  height: 100%;
}
.yasmina-shoes {
  height: 57%;
  top: 19%;
}
.yasmina-make-up {
  height: 106%;
  top: -14%;
  right:0;
}
.yasmina-logo-wrapper {
  position: absolute;
  height: 20%;
  bottom: 18%;
  width: 100%;
  text-align: center;
}
.yasmina-logo-big {
  height: 100%;
  position:static;
}
.download-button--mobile {
  width: 200px;
  display: none;
  @include breakpoint(mobile){
    display: inline;
  }
}
.fixed-content {
  height: 100%;
  position: fixed;
  width:100%;
  display: table;
  z-index: 10;
}
.content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.content-wrapper {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  @include breakpoint(mobile) {
    max-width: 100%;
    width: 68%;
  }
  @include breakpoint(large) {
    max-width: 930px;
  }
}
.device-container {
  float: right;
  position:relative;
  img {
    width: 226px;
  }
  @include breakpoint(mobile) {
    width: 81%;
    margin-right: 19%;
    margin-top: 50px;
    img {
      width: 101%;
    }
  }
  @include breakpoint(large) {
    img {
      width: 339px;
    }
  }
  @include breakpoint(iphone4) {
    margin-top:56px;
  }
}
.screen-container {
  position: absolute;
  width: 146px;
  height: 258px;
  top: 41px;
  left: 65px;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top:100%;
  }
  &>img:nth-child(1){
    z-index: 1;
  }
  &>img:nth-child(2){
    z-index: 2;
  }
  &>img:nth-child(3){
    z-index: 3;
  }
  &>img:nth-child(4){
    z-index: 4;
  }
  @include breakpoint(mobile) {
    width: 65%;
    height: 67%;
    top: 11%;
    left: 29%;
    img {
      width: 100%;
    }
  }
  @include breakpoint(large) {
    width: 219px;
    height: 386.5px;
    top: 60.75px;
    left: 97.5px;
  }
}
.text-slide {
  float: left;
  text-align: right;
  direction: rtl;
  color:white;
  position: absolute;
  @include breakpoint(mobile){
    h2,p, .dp-buttons {
      display: none;
    }
  }
}
.text-slide--white {
  h2, p {
    color: white;
  }
}
.dp-buttons {
  margin-top: 36px;
  position: relative;
}
.dp-buttons img {
  height: 35px;
  margin:0 10px;
  float: right;
  @include breakpoint(large) {
    height:50px;
  }
}
.dp-buttons img:first-child {
  margin-right: 0;
}
.static-content__heading {
  font-size: 19px;
  margin-bottom: 26px;
  position: relative;
  color:#333;
  @include breakpoint(large) {
    font-size: calc-rem(30px);
    line-height: calc-rem(42px);
  }
}
.static-content__text {
  line-height: calc-rem(25px);
  font-size: calc-rem(11px);
  color:#333;
  position: relative;
  @include breakpoint(large) {
    font-size: calc-rem(16px);
    line-height: calc-rem(32px);
  }
}
.text-container {
  position: relative;
  margin: 0px 16px;
  float: right;
  width: 270px;
  margin-top: 75px;
  @include breakpoint(large) {
    width: 405px;
  }
}
.text-slide {
  opacity: 0;

  &.active {
    opacity: 1;
    z-index: 100;
  }
  h2, p, .dp-buttons {
    opacity: 0;
    top:30px;
  }
}
.dp-channel__container {
  width: 100%;
  position: fixed;
  bottom: 50px;
  text-align: center;
  padding: 0 50px;
  right: 0;
  height: 40px;
  line-height: 40px;
  z-index: 100;
  @include breakpoint(mobile) {
    text-align: center;
    bottom: 60px;
  }
  @include breakpoint(iphone4) {
    bottom: 20px;
  }
  @include breakpoint(large) {
    height: 60px;
    line-height: 60px;
  }
}
.dp-footer-arrow {
  position: absolute;
  height: 70%;
  margin-top: 7px;
  left: 49%;
  cursor:pointer;
  @include transitionFor(all 300ms);
  @include breakpoint(mobile){
    display: none;
  }
  &:hover {
    opacity: 0.5;
  }
}
.dp-footer {
  position: fixed;
  bottom: 50px;
  width: 100%;
  height: 40px;
  line-height: calc-rem(40px);
  z-index: 101;
  @include breakpoint(mobile) {
    text-align: center;
    bottom: 0px;
  }
  @include breakpoint(iphone4) {
    display: none;
  }
  @include breakpoint(large) {
    height: 60px;
    line-height: 60px;
  }
}
.dp-footer-wrap {
  max-width: 1400px;
  margin:0 auto;
  padding:0 200px;
  color:white;
  font-size: calc-rem(12px);
  font-family: $text__family--Roboto;
  @include breakpoint(mobile) {
    color: rgba(255, 255, 255, 0.5);
    font-size: calc-rem(10px);
    padding: 0;
  }
  @include breakpoint(large) {
    font-size: calc-rem(14px);
  }
}
.dp-footer__copyright {
  float: left;
  @include breakpoint(mobile) {
    width: 100%;
    text-align: center;
  }
}
.channel__wrapper {
  float:right;
  width: 180px;
  height: 40px;
  overflow: hidden;
  position: relative;
  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(large) {
    height: 60px;
  }
}
.channel {
  position: absolute;
  top:-30px;
  opacity: 0;
  right:0;
  &.active {
    opacity: 1;
    top:0;
  }
}
.channel__ico {
  float:right;
  height: 40px;
  @include breakpoint(large) {
    height: 60px;
  }
}
.channel__info {
  float: right;
  line-height: calc-rem(40px);
  padding-right: 20px;
  color: white;
  font-size: calc-rem(10px);
  @include breakpoint(large) {
    height: 60px;
    line-height: 60px;
    font-size: calc-rem(15px);
  }
}
.dp-footer__link {
  float: right;
  text-decoration: none;
  margin: 0 20px;
  color:white;
  font-family: $text__family--Roboto;
  font-size:calc-rem(12px);
  @include transitionFor(all 300ms);
  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(large) {
    font-size:calc-rem(14px);
  }
  &:hover {
    opacity: 0.5;
  }
}
.dp-footer__link--last {
  margin-right: 0;
}
