@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto) format("truetype"); }
h1, h2, p {
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif; }

html {
  font-size: 16px; }

.button {
  margin: 0 1.3%;
  height: 100%;
  width: auto; }

@media (max-width: 1000px) {
  .button--last {
    margin-top: 1.25rem; } }

.link {
  margin-bottom: 1.5625rem;
  color: #FC4D62;
  display: block;
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.link--inline {
  color: #FC4D62;
  text-decoration: none; }

.back-to-top {
  position: relative;
  float: right;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  height: 70px;
  opacity: 0;
  width: 70px;
  background-image: url(../../assets/img/back-to-top-sprite.png);
  background-repeat: no-repeat;
  background-position: 0;
  -webkit-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  transition: opacity 600ms; }
  .back-to-top.visible {
    opacity: 1; }
  .back-to-top.stick {
    position: fixed; }
    @media (max-width: 1000px) {
      .back-to-top.stick {
        position: relative; } }

.back-to-top:hover {
  background-position: -78px; }

.lightbox__container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  display: none;
  opacity: 0; }

.lightbox__mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.87);
  z-index: 19; }

.lightbox {
  width: 970px;
  height: 539px;
  background: white;
  position: relative;
  z-index: 20;
  top: 50%;
  margin: 0 auto;
  margin-top: -270px; }
  @media (max-width: 1000px) {
    .lightbox {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      top: 10px;
      left: 10px;
      margin: 0; } }

.lightbox__close {
  position: absolute;
  height: 63px;
  width: 57px;
  background-image: url("../../assets/img/close-icon-black.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  cursor: pointer; }
  @media (max-width: 1000px) {
    .lightbox__close {
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      background-image: url("../../assets/img/close-icon-white.png"); } }

.lightbox__image-container {
  float: right;
  width: 50%;
  overflow: hidden;
  height: 100%;
  position: relative; }
  .lightbox__image-container.mobile {
    display: none; }
  .lightbox__image-container .lightbox__image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0; }
  .lightbox__image-container .lightbox__image.first {
    opacity: 1; }
  @media (max-width: 1000px) {
    .lightbox__image-container {
      display: none;
      float: left;
      height: 37%;
      width: 100%; }
      .lightbox__image-container .lightbox__image {
        width: 100%; }
      .lightbox__image-container.mobile {
        display: block; } }
  @media (min-device-width: 375px) and (max-device-width: 667px) {
    .lightbox__image-container {
      height: 40%; } }

.lightbox__content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center; }
  @media (max-width: 1000px) {
    .lightbox__content {
      width: 100%;
      height: 63%; } }
  @media (min-device-width: 375px) and (max-device-width: 667px) {
    .lightbox__content {
      height: 60%; } }

.lightbox__heading {
  font-size: 1.875rem;
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif;
  color: #333;
  margin-top: 60px;
  font-weight: 100;
  margin-bottom: 29px; }
  @media (max-width: 1000px) {
    .lightbox__heading {
      font-size: 20px;
      margin-top: 17px;
      margin-bottom: 10px; } }
  @media (min-device-width: 375px) and (max-device-width: 667px) {
    .lightbox__heading {
      margin-top: 28px; } }

.lightbox__description {
  font-size: 1rem;
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif;
  color: #ccc;
  width: 74%;
  line-height: 1.625rem;
  margin: 0 auto;
  margin-bottom: 56px;
  max-height: 52px; }
  @media (max-width: 1000px) {
    .lightbox__description {
      font-size: 12px;
      width: 90%;
      margin-bottom: 30px; } }
  @media (min-device-width: 320px) and (max-height: 450px) {
    .lightbox__description {
      display: none; } }

.lightbox__logo {
  text-align: center;
  margin-top: 76px; }
  @media (max-width: 1000px) {
    .lightbox__logo {
      margin-top: 17px; }
      .lightbox__logo img {
        width: 110px; } }

.lightbox__form {
  overflow: hidden;
  width: 406px;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .lightbox__form {
      width: 100%;
      padding: 0 20px 20px; } }
  @media (min-device-width: 375px) and (max-device-width: 667px) {
    .lightbox__form {
      padding-bottom: 40px; } }

.lightbox__email {
  width: 286px;
  height: 46px;
  float: left;
  border: 1px solid #999;
  font-size: 1.0625rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 0 18px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important; }
  @media (max-width: 1000px) {
    .lightbox__email {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      margin-bottom: 10px; } }

.lightbox__button {
  width: 120px;
  height: 46px;
  line-height: 46px;
  float: left;
  color: white;
  font-size: 17px;
  background: #333;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }
  @media (max-width: 1000px) {
    .lightbox__button {
      width: 100%;
      height: 40px;
      line-height: 40px; } }

.lightbox__footer {
  width: 100%;
  margin-top: 55px; }
  .lightbox__footer p {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #999;
    font-size: 0.9375rem;
    margin-bottom: 28px; }
  @media (max-width: 1000px) {
    .lightbox__footer {
      display: none; } }

.list {
  padding-right: 50px;
  position: relative;
  z-index: -5;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }
  @media (max-width: 1000px) {
    .list {
      padding-right: 34px; } }

.ordered.list {
  counter-reset: item;
  list-style-type: none;
  margin-bottom: 8.75rem; }

.list__item {
  position: relative;
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif; }

.list__item:before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  border-radius: 50px !important;
  background: #bbb;
  position: absolute;
  top: 7px;
  right: -47px; }
  @media (max-width: 1000px) {
    .list__item:before {
      right: -29px; } }

.ordered .list__item:before {
  content: counter(item) "  ";
  counter-increment: item;
  background: transparent;
  font-size: 1.5rem;
  color: #bbb;
  top: 0; }

.main__heading {
  font-size: 1.875rem;
  color: #333;
  margin-bottom: 4rem; }
  @media (max-width: 1000px) {
    .main__heading {
      margin-bottom: 2.125rem;
      line-height: 2.5rem; } }

.small__heading {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 2.1875rem;
  margin-top: 2.8125rem; }

.main__text, .list__item {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.75rem;
  margin-bottom: 1.5625rem; }

html, body {
  width: 100%; }

body {
  background-image: url(../../assets/img/triangle-watermark.png);
  background-repeat: no-repeat;
  background-position: 0 -221px;
  background-size: 594px; }

.no-background {
  background: none; }

.main__wrapper {
  width: 100%;
  position: relative;
  padding-top: 84px;
  margin: 0 auto;
  margin-top: 4.5625rem;
  max-width: 755px;
  direction: rtl;
  padding-left: 153px; }
  @media (max-width: 1000px) {
    .main__wrapper {
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 2.0625rem;
      padding-bottom: 1.5rem; } }

.header {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #dadada;
  text-align: right;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
  .header .logo {
    height: 100%;
    width: auto; }

.header-wrap {
  width: 100%;
  height: 100%;
  max-width: 1084px;
  margin: 0 auto;
  padding: 14px 0;
  padding-right: 24px; }

.footer {
  width: 100%;
  height: 230px;
  position: relative;
  bottom: 0;
  background: #FAFBFB;
  padding-top: 4%;
  float: left; }
  @media (max-width: 1000px) {
    .footer {
      padding-top: 2%; } }

.footer-nav__wrap {
  float: right;
  text-align: right; }
  @media (max-width: 1000px) {
    .footer-nav__wrap {
      width: 100%; } }

.footer__wrap {
  width: 100%;
  max-width: 1024px;
  padding: 0 4%;
  margin: 0 auto; }

.g-plus-logo {
  display: none;
  background-image: url(../../assets/img/gplus-sprite.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 24px;
  margin-left: auto;
  background-position: 0;
  cursor: pointer; }
  .g-plus-logo:hover {
    background-position: -37px; }

.logo--small {
  margin-top: 1.6%;
  width: 100px; }
  @media (max-width: 1000px) {
    .logo--small {
      position: relative;
      top: 21px; } }

.footer-nav {
  list-style: none;
  padding-top: 12px;
  border-top: 1px solid #dadada;
  margin: 12px 0; }
  @media (max-width: 1000px) {
    .footer-nav {
      width: 100%;
      text-align: center;
      float: left;
      margin-top: 31px; } }

.footer-nav__item {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #666;
  padding-right: 20px;
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif; }
  .footer-nav__item:after {
    content: " ";
    height: 3px;
    width: 3px;
    border-radius: 234px;
    background: #666;
    position: absolute;
    top: 7px;
    right: 6px; }
  .footer-nav__item a {
    text-decoration: none;
    color: #666; }

.footer-nav__item--last {
  padding-right: 0; }
  .footer-nav__item--last:after {
    display: none; }

.page-wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 9% 4% 0%;
  position: relative; }
  @media (max-width: 1000px) {
    .page-wrapper {
      margin: 0;
      padding: 0; } }

.container {
  width: 100%;
  float: left;
  margin-bottom: 50px; }
  @media (max-width: 1000px) {
    .container {
      margin-bottom: 20px; } }

.container__left, .container__right {
  width: 50%;
  float: left;
  position: relative;
  text-align: center; }
  @media (max-width: 1000px) {
    .container__left, .container__right {
      width: 100% !important; } }

.container__left {
  padding-top: 1%;
  width: 50%;
  padding-right: 2%; }
  @media (max-width: 1000px) {
    .container__left {
      width: 100%;
      padding: 5%;
      margin: 0; } }

.container__right {
  padding-left: 2%; }
  @media (max-width: 1000px) {
    .container__right {
      padding-top: 20px; } }

.phone1__wrap, .phone2__wrap {
  float: left;
  width: 61%;
  position: absolute; }
  .phone1__wrap img, .phone2__wrap img {
    width: 120%;
    float: left;
    left: -10%;
    position: relative; }
  @media (max-width: 1000px) {
    .phone1__wrap, .phone2__wrap {
      width: 59%; } }

.phone1__wrap {
  z-index: 20; }
  .phone1__wrap .screen {
    top: 11.2%;
    width: 83.5%;
    left: 7.6%;
    position: absolute; }
  @media (max-width: 1000px) {
    .phone1__wrap {
      position: relative;
      left: 3%; } }

.phone2__wrap {
  padding-top: 4%;
  left: 40%;
  position: relative;
  z-index: -5;
  width: 63%; }
  .phone2__wrap .screen {
    top: 12.8%;
    left: 5.5%;
    width: 85%;
    position: absolute; }
  @media (max-width: 1000px) {
    .phone2__wrap {
      position: absolute;
      padding-top: 4%;
      width: 57%; } }

.logo {
  width: 28%;
  margin-bottom: 32px;
  width: 53%; }
  @media (max-width: 1000px) {
    .logo {
      width: 68%; } }

.info-heading {
  margin-bottom: 30px;
  font-size: 1rem;
  color: #666;
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif; }

.about__text {
  margin-top: 30px;
  line-height: 2rem;
  font-size: 0.8125rem;
  color: #666;
  margin-top: 50px;
  padding: 0; }

p {
  font-family: "Droid Arabic Kufi", Helvetica, Arial, sans-serif; }

@media (max-width: 1000px) {
  .about__text--desk {
    display: none; } }

.about__text--mobile {
  display: none; }
  @media (max-width: 1000px) {
    .about__text--mobile {
      display: block;
      float: left;
      margin-top: 10px;
      font-size: 0.8125rem;
      padding: 0 4%;
      margin-bottom: 20px;
      margin-top: 30px; } }

.about__text--small-margin {
  margin-top: 20px; }

.dp-body {
  background: #fff; }
  @media (max-width: 1000px) {
    .dp-body {
      overflow: scroll !important; } }

.dp-header {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 8%;
  z-index: 99; }
  @media (max-width: 1000px) {
    .dp-header {
      top: 0px;
      margin-top: 20px;
      height: auto;
      position: relative;
      text-align: center; } }
  @media (min-device-width: 320px) and (max-height: 450px) {
    .dp-header {
      top: 10px; } }

.dp-header__wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 220px;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .dp-header__wrapper {
      padding: 0; } }

.dp-header__logo, .dp-header__logo--mobile {
  float: right;
  width: 200px;
  margin-top: -120px; }
  @media (max-width: 1000px) {
    .dp-header__logo, .dp-header__logo--mobile {
      display: none; } }

.dp-header__logo--mobile {
  display: none; }
  @media (max-width: 1000px) {
    .dp-header__logo--mobile {
      margin: 0 auto;
      display: block;
      float: none;
      width: 40%; } }

.mask {
  position: fixed;
  bottom: 0;
  width: auto;
  z-index: 99;
  opacity: 0.7; }
  .mask img {
    float: left; }
  @media (max-width: 1000px) {
    .mask {
      display: none; } }

.scroll-container {
  height: 100%;
  position: relative; }
  @media (max-width: 1000px) {
    .scroll-container {
      display: none; } }

.scroll__section {
  height: 6000px !important; }

.scroll__section--one {
  background: #f7f7f7;
  background: linear-gradient(to bottom, #f7f7f7 22%, #31abaa 100%); }

.scroll__section--two {
  background: #31abaa;
  background: linear-gradient(to bottom, #31abaa 0, #FDFDFD 100%); }

.scroll__section--three {
  background: #fff;
  background: linear-gradient(to bottom, #FDFDFD 0, #FAFAFB 100%); }

.scroll__section--four {
  background: #fff;
  background: linear-gradient(to bottom, #FAFAFB 0, #E7E7E9 100%); }

.scroll__section--five {
  background: #fff;
  background: linear-gradient(to bottom, #E7E7E9 0, #fff 100%); }

.top-elements__container {
  height: 900px;
  position: relative; }

.top-element {
  position: absolute; }

.warrini-triangle {
  height: 101%;
  left: 6%;
  top: -22%; }

.nike-shoes {
  width: 33%;
  right: -186px; }

.bag {
  bottom: -8%;
  right: -13%;
  width: 32%; }

.joe-page {
  bottom: -30px;
  height: 95%;
  position: fixed;
  opacity: 0;
  z-index: 9; }
  @media (max-width: 1000px) {
    .joe-page {
      display: none; } }

.joe-typo {
  height: 66%;
  left: 24%;
  top: 27%; }

.joe-accesories {
  right: 0;
  height: 118%; }

.watch {
  bottom: 31%;
  right: 3%;
  width: 10%; }

.mother {
  height: 100%;
  left: 0;
  position: absolute; }

.mother-background {
  height: 100%;
  left: 0;
  opacity: 0.3; }

.atyab-left {
  left: -11%;
  height: 100%; }

.atyab-right {
  right: 0;
  height: 100%; }

.yasmina-shoes {
  height: 57%;
  top: 19%; }

.yasmina-make-up {
  height: 106%;
  top: -14%;
  right: 0; }

.yasmina-logo-wrapper {
  position: absolute;
  height: 20%;
  bottom: 18%;
  width: 100%;
  text-align: center; }

.yasmina-logo-big {
  height: 100%;
  position: static; }

.download-button--mobile {
  width: 200px;
  display: none; }
  @media (max-width: 1000px) {
    .download-button--mobile {
      display: inline; } }

.fixed-content {
  height: 100%;
  position: fixed;
  width: 100%;
  display: table;
  z-index: 10; }
  @media (max-width: 1000px) {
    .fixed-content {
      display: block;
      position: relative;
      height: auto; } }

.content {
  display: table-cell;
  vertical-align: middle;
  position: relative; }
  @media (max-width: 1000px) {
    .content {
      display: block; } }

.content-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .content-wrapper {
      max-width: 100%;
      width: 100%; } }
  @media (min-width: 1450px) {
    .content-wrapper {
      max-width: 930px; } }

.device-container {
  float: right;
  position: relative; }
  .device-container img {
    width: 320px; }
  @media (max-width: 1000px) {
    .device-container {
      width: 95%;
      margin-right: 13%;
      margin-top: 25px; }
      .device-container img {
        width: 101%; } }
  @media (min-width: 1450px) {
    .device-container img {
      width: 400px; } }
  @media (min-device-width: 320px) and (max-height: 450px) {
    .device-container {
      margin-top: 56px; } }

.screen-container {
  position: absolute;
  width: 206px;
  height: 366px;
  top: 57px;
  left: 93px;
  overflow: hidden; }
  .screen-container video {
    width: 100%;
    position: absolute;
    top: 100%;
    min-width: 100%;
    min-height: 100%; }
  .screen-container > video:nth-child(1) {
    z-index: 1; }
  .screen-container > video:nth-child(2) {
    z-index: 2; }
  .screen-container > video:nth-child(3) {
    z-index: 3; }
  .screen-container > video:nth-child(4) {
    z-index: 4; }
  @media (max-width: 1000px) {
    .screen-container {
      width: 65.2%;
      height: 67.05%;
      top: 10.6%;
      left: 29%; }
      .screen-container img {
        display: none;
        width: 100%; } }
  @media (min-width: 1450px) {
    .screen-container {
      width: 260px;
      height: 456.5px;
      top: 71.75px;
      left: 115.5px; } }

@media (max-width: 1000px) {
  .screen-container__video {
    display: none;
    width: 100%; } }

@media (max-width: 1000px) {
  .screen-container__video {
    display: none;
    width: 100%; } }

.text-slide {
  float: left;
  text-align: right;
  direction: rtl;
  color: white;
  position: absolute; }
  @media (max-width: 1000px) {
    .text-slide h2, .text-slide p, .text-slide .dp-buttons {
      display: none; } }

.text-slide--white h2, .text-slide--white p {
  color: white; }

.dp-buttons {
  margin-top: 58px;
  position: relative; }

.dp-buttons img {
  height: 45px;
  margin: 0 10px;
  float: right; }
  @media (min-width: 1450px) {
    .dp-buttons img {
      height: 50px; } }

.dp-buttons img:first-child {
  margin-right: 0; }

.static-content__heading {
  font-size: 1.75rem;
  line-height: 2.3125rem;
  margin-bottom: 26px;
  position: relative;
  color: #333; }
  @media (min-width: 1450px) {
    .static-content__heading {
      font-size: 1.875rem;
      line-height: 2.625rem; } }

.static-content__text {
  line-height: 1.5625rem;
  font-size: 0.9375rem;
  color: #333;
  position: relative; }
  @media (min-width: 1450px) {
    .static-content__text {
      font-size: 1rem;
      line-height: 2rem; } }

.text-container {
  position: relative;
  margin: 0px 16px;
  float: right;
  width: 340px;
  margin-top: 217px; }
  @media (min-width: 1450px) {
    .text-container {
      width: 405px; } }
  @media (max-width: 1000px) {
    .text-container {
      display: none; } }

.text-slide.active {
  opacity: 1;
  z-index: 100; }
.text-slide h2, .text-slide p, .text-slide .dp-buttons {
  opacity: 0;
  top: 30px; }

.dp-channel__container {
  width: 100%;
  position: fixed;
  bottom: 50px;
  text-align: center;
  padding: 0 35px;
  right: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  z-index: 100; }
  @media (min-width: 1450px) {
    .dp-channel__container {
      height: 3.75rem;
      line-height: 3.75rem;
      padding: 0 50px; } }
  @media (max-width: 1000px) {
    .dp-channel__container {
      text-align: center;
      bottom: 60px; } }
  @media (min-device-width: 320px) and (max-height: 450px) {
    .dp-channel__container {
      bottom: 20px; } }

.dp-footer-arrow {
  position: absolute;
  height: 60%;
  margin-top: 9px;
  left: 49%;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms; }
  @media (min-width: 1450px) {
    .dp-footer-arrow {
      height: 52%;
      margin-top: 15px; } }
  @media (max-width: 1000px) {
    .dp-footer-arrow {
      display: none; } }
  .dp-footer-arrow:hover {
    opacity: 0.5; }

.dp-footer {
  position: fixed;
  bottom: 50px;
  width: 100%;
  height: 40px;
  line-height: 2.5rem;
  z-index: 101; }
  @media (min-width: 1450px) {
    .dp-footer {
      height: 60px;
      line-height: 3.75rem; } }
  @media (max-width: 1000px) {
    .dp-footer {
      text-align: center;
      bottom: 0px;
      position: relative;
      height: auto;
      line-height: normal; } }
  @media (min-device-width: 320px) and (max-height: 450px) {
    .dp-footer {
      display: none; } }

.dp-footer-wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 220px;
  color: white;
  font-size: 0.875rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }
  @media (max-width: 1000px) {
    .dp-footer-wrap {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.625rem;
      padding: 0; } }

.dp-footer__copyright {
  float: left;
  font-size: 0.75rem; }
  @media (min-width: 1450px) {
    .dp-footer__copyright {
      font-size: 0.875rem; } }
  @media (max-width: 1000px) {
    .dp-footer__copyright {
      width: 100%;
      text-align: center;
      font-size: 0.75rem;
      margin-top: -2px;
      margin-bottom: 25px;
      color: #bbb; } }

.channel__wrapper {
  float: right;
  width: 300px;
  height: 40px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 1450px) {
    .channel__wrapper {
      height: 60px; } }
  @media (max-width: 1000px) {
    .channel__wrapper {
      display: none; } }

.channel {
  position: absolute;
  opacity: 0;
  right: 0; }
  .channel.active {
    opacity: 1;
    top: 0; }

.channel__ico {
  float: right;
  height: 40px; }
  @media (min-width: 1450px) {
    .channel__ico {
      height: 60px; } }

.channel__info {
  float: right;
  line-height: 2.5rem;
  padding-right: 20px;
  color: white;
  height: 2.5rem;
  font-size: 0.8125rem; }
  @media (min-width: 1450px) {
    .channel__info {
      font-size: 0.9375rem;
      line-height: 3.75rem;
      height: 3.75rem; } }

.dp-footer__link {
  float: right;
  text-decoration: none;
  margin: 0 20px;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms; }
  @media (min-width: 1450px) {
    .dp-footer__link {
      font-size: 0.875rem; } }
  @media (max-width: 1000px) {
    .dp-footer__link {
      display: none; } }
  .dp-footer__link:hover {
    opacity: 0.5; }

.dp-footer__link--last {
  margin-right: 0; }

.sub-title--mobile {
  display: none; }
  @media (max-width: 1000px) {
    .sub-title--mobile {
      text-align: center;
      line-height: 1.875rem;
      width: 80%;
      margin: 0 auto;
      color: #333;
      margin-top: 30px;
      font-size: 1.0625rem;
      display: block; } }

.download-button__wrapper {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  .download-button__wrapper img {
    height: 41px;
    width: auto;
    margin: 0 2px; }
  @media (max-width: 1000px) {
    .download-button__wrapper {
      display: block;
      margin: 0px;
      margin-bottom: 14px;
      margin-top: 34px; } }

.screen-container__video--mobile {
  display: block; }

.download-link {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
