@mixin borderRadius($radius){
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	-ms-border-radius: $radius !important;
	-o-border-radius: $radius !important;
	border-radius: $radius !important;
}
@mixin boxShadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
@mixin transitionFor($type){
	-webkit-transition: $type;
	-o-transition: $type;
	-ms-transition:$type;
	transition: $type;
}
