$text__color--alpha: #666 !default;
$text__color--beta: #333 !default;
$text__color--gamma: #bbb !default;
$text__color--delta: #FC4D62 !default;

$color__primary--alpha: #FAFBFB;

$border__color--alpha: #dadada;
