.page-wrapper {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 9% 4% 0%;
	position:relative;
	@include breakpoint(tablet){
		margin:0;
		padding:0;
	}
}
.container {
	width:100%;
	float:left;
	@include breakpoint(tablet){
		margin-bottom: 20px;
	}
}
.container__left, .container__right {
	width:50%;
	float:left;
	position:relative;
	text-align: center;
	@include breakpoint(tablet){
		width: 100% !important;
	}
}
.container__left {
	padding-top: 1%;
	width: 50%;
	padding-right:2%;
	&>a {
		display: block;
		// height: 50px;
	}
	@include breakpoint(tablet){
		width: 100%;
		padding:5%;
		margin:0;
	}
}
.container__right {
	padding-left:2%;
	@include breakpoint(tablet){
		padding-top: 20px;
	}
}
.phone1__wrap, .phone2__wrap {
	float: left;
	width: 61%;
	position: absolute;
	img {
		width: 120%;
		float: left;
		left: -10%;
		position: relative;
	}
	@include breakpoint(tablet){
		width: 59%;
	}
}
.phone1__wrap {
	z-index:20;
	.phone {
		background-image: url("../../assets/img/iphone-6-mockup.png");
    background-repeat: no-repeat;
    width: 119%;
    background-size: contain;
    padding-top: 205%;
    background-position: 49%;
	}
	.screen {
		top: 11.2%;
		width: 83.5%;
    left: 16.6%;
		position:absolute;
		background-image: url("../../assets/img/iphone-screen.png");
		background-repeat: no-repeat;
    background-size: contain;
		padding-top: 148%;
	}
	@include breakpoint(tablet){
		position:relative;
		left:3%;
		width:54%;
	}
}
.phone2__wrap {
	padding-top: 5.2%;
	left: 43%;
	position: relative;
	z-index: -5;
	width: 63%;
	.phone {
		background-image: url("../../assets/img/samsung-s6-gold.png");
    background-repeat: no-repeat;
    width: 119%;
    background-size: contain;
    padding-top: 199%;
    background-position: 49%;
	}
	.screen {
		top: 13.6%;
    left: 14.8%;
    width: 85%;
    position: absolute;
    background-image: url("../../assets/img/android-screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 148%;
	}
	@include breakpoint(tablet){
		position:absolute;
		padding-top: 4%;
		width: 52.6%;
		left:37%;
	}
}
.logo {
	width: 28%;
	margin-bottom: 32px;
	height: 100px;
	width: 100%;
	background-image: url("../../assets/img/warrini-logo-large.png");
	background-position: center;
	background-repeat: no-repeat;

	@include breakpoint(tablet){
		width: 100%;
		background-image: url("../../assets/img/warrini-logo-large.png");
	}
}
.info-heading {
	margin-bottom: 30px;
	font-size:calc-rem(16px);
	color:$text__color--alpha;
	font-family:$text__family--DroidKufiRegular;
}
.about__text {
	margin-top: 30px;
	line-height: calc-rem(32px);
	font-size: calc-rem(13px);
	color:$text__color--alpha;
	margin-top: 50px;
	padding: 0;
}

p {
    font-family: $text__family--DroidKufiRegular;
}
.about__text--desk {
	@include breakpoint(tablet){
		display: none;
	}
}
.about__text--mobile {
	display:none;
	@include breakpoint(tablet){
		display: block;
		float: left;
		margin-top: 10px;
		font-size: calc-rem(13px);
		padding: 0 4%;
		margin-bottom: 20px;
		margin-top:30px;
	}
}
.about__text--small-margin{
	margin-top: 20px;
}
