$text__family--DroidKufiRegular:  "Droid Arabic Kufi", Helvetica, Arial, sans-serif !default;
$text__family--Roboto:  "Roboto", Helvetica, Arial, sans-serif !default;
$base__font-size: 16px !default;
$base__line: 20 !default;

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto) format('truetype');
}
h1, h2, p {
    font-family:$text__family--DroidKufiRegular;
}
html {
	font-size: $base__font-size;
}
